/**
 * Patrick Hund's custom theme.
 *
 * Based on Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * CUSTOM STYLES
 *********************************************/
.right-half {
	margin-left: 50% !important;
	text-align: left;
}

.pink {
	color: #d33682;
}

.blue {
	color: #268bd2;
}

.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}

.slides figcaption {
    font-size: 0.5em;
    margin-top: -20px;
}

.reveal .white {
    color: white;
}

.reveal .no-margin {
    margin: 0;
}

.reveal .no-margin-bottom {
    margin-bottom: 0;
}
.reveal .no-margin-top {
    margin-top: 0;
}

.reveal .pull-up {
    margin-top: -1rem;
}

.reveal img.small {
    width: 50%;
    height: 50%;
}

.reveal .box-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

.reveal .margin-right {
    margin-right: 0.5rem;
}

.reveal .large-margin-top {
    margin-top: 6rem;
}

.reveal .margin-top {
    margin-top: 3rem;
}

.reveal .red {
    color: darkred;
}

.reveal .green {
    color: darkgreen;
}

.reveal section.smaller-text {
    font-size: 80%;
}

.reveal p.small {
    font-size: 60%;
}

.reveal .PH_TODO {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    background-color: lime;
    border-radius: 15px;
    padding: 15px;
}

.reveal .bottom-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.reveal figcaption {
    font-size: 0.5em;
    margin-top: -20px;
}

.reveal .credits {
    font-size: 66%;
}

.reveal .credits p {
    margin: 0;
}

.reveal .credits .name {
    color: #d33682;
}

.reveal .credits .function {
    font-size: 66%;
    opacity: 0.4;
}

.reveal .left-align {
    text-align: left;
}

#ebay-logo {
    position: absolute;
    z-index: 1000;
    left: 12px;
    top: 12px;
    width: 15vw;
}



